body {
  padding-top: 80px;
  font-family:'Poppins', sans-serif;
  background:#0a0a0a;
  color:white;
}

/* Navbar */
header {
  position:fixed;
  width:100%;
  background:rgba(0,0,0,0.6);
  z-index:1000;
  text-align:center;
  padding:15px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-wrap: wrap;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 50%;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #F2A365;
}
}

/* HERO VIDEO */
.hero {
  height:100vh;
  position:relative;
}
.hero video {
  width:100%;
  height:100%;
  object-fit:cover;
}
.overlay {
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}
.hero-text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  <img src="images/logo.png" alt="TGPM Logo" class="hero-logo">
  hero-logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
}
.hero-text h1 {
  font-size:60px;
}

/* Sections */
.section {
  padding:80px 20px;
  text-align:center;
}

/* Cards */
.card {
  display:inline-block;
  background:rgba(255,255,255,0.1);
  padding:20px;
  margin:10px;
  border-radius:15px;
}

/* Gallery */
.gallery img {
  width:250px;
  margin:10px;
  cursor:pointer;
}
#popup {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:black;
  justify-content:center;
  align-items:center;
}
#popup img {
  width:70%;
}

/* Form */
input, textarea {
  width:300px;
  padding:10px;
  margin:10px;
}
button {
  padding:10px 20px;
  background:#F2A365;
  border:none;
}
